body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    height: 90vh;
    
}
.global{
    display: flex;
    justify-content: center;
}
.contenu{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;
    height: 80vh;
   
    border: solid 1px black;
    

}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 2em;
    justify-content: center;
    align-items: center;
    padding:3em;
}


.title{
    text-align: center;
    
}
.title h1{
    color: #252525;
}
.title h2{
color: #252525;
font-family: Arial, Helvetica, sans-serif;
}
.title h1 b {
    color: rgb(89, 34, 240);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flip-card {
    width: 100px;
    height: 100px;
    perspective: 1000px;
    position: relative;
    margin: 10px;
    cursor: pointer; /* Change cursor to pointer */
}

.flip-card-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card.flip .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 1px solid #ccc;
}

.flip-card-back {
    background-color: #009688;
    color: white;
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}


.message {
    display: none;
    font-size: 1.2rem;
    color: #333;
    margin-top: 10px;
    padding: 10px;
 
}

.message.show {
    display: block;
    opacity: 1;
}

#box1,#box4 {
    background-image: url(images/1.png);


}
#box2,#box3 {
    background-image: url(images/2.png);
    
}

.container div{
    width: 200px;
    height: 250px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    box-shadow:1px 1px 2px   #727272 ;
}
