*{
    padding: 0;
    margin: 0;

}


body{
    background-image: url(../images/BACKGROUND2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(50%) brightness(0.8) contrast(1.2); /* Apply color filter (sepia, brightness, contrast) */

}

.global{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left:700px;
    
    justify-content: center;
}

.title{
margin-top: 20px;
font-size: 50px;
}

.rule-item{
    height: 100px;
    width: 600px;
    box-shadow: 5px 5px 5px brown;
    text-align: center;
    margin-top: 30px;
    font-size: xx-large;
    font-weight: bolder;
display: flex;
justify-content: space-around;
background-color: antiquewhite;
border-radius: 5px;
}

img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.box1{
    height: 100px;
    width: 600px;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    margin-top: 100px;
    font-size: xx-large;
    font-weight: bolder;

    background-color: antiquewhite;
    display: flex;
justify-content: space-around;
border-radius: 10px;

}



.button-92 {
    --c: #fff;
    background: linear-gradient(90deg, #0000 33%, #fff5, #0000 67%) var(--_p,100%)/300% no-repeat,      #00ff00;
    color: #0000;
    border: none;
    transform: perspective(500px) rotateY(calc(20deg*var(--_i,-1)));
    text-shadow: calc(var(--_i,-1)* 0.08em) -.01em 0   var(--c),      calc(var(--_i,-1)*-0.08em)  .01em 2px #0004;
    outline-offset: .1em;
    transition: 0.3s;

}
  
  .button-92:hover,
  .button-92:focus-visible {
    --_p: 0%;
    --_i: 1;
  }
  
  .button-92:active {
    text-shadow: none;
    color: var(--c);
    box-shadow: inset 0 0 9e9q #0005;
    transition: 0s;
  }
  
  .button-92 {
    font-weight: bold;
    font-size: 2rem;
    cursor: pointer;
    padding: .1em .3em;
  }

  .button-container {
    position: absolute;
    top: 90%;
    right: 83%;

}

.button-92 a{
    text-decoration: none;
    color: white;
}